<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
        </div>
        <div class="main">
            <div class="container">
                <div class="center-align">
                    <h1>404</h1>
                    <hr>
                    <p>We could not find the page you were looking for.</p>
                    <p>If you think this is an issue with one of our boats, please let us know <a href="https://u.ronthecookie.me/discordboatsguild">here.</a></p>
                    <div id="404-sitemap">
                        <ul>
                            <li><h5><a href="/">Home</a></h5></li>
                            <li><h5><a href="https://u.ronthecookie.me/discordboatsguild">Discord</a></h5></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
    </footer>
</html>
