<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head") %>
        <meta name="title" content="discordboats.club About Us">
        <meta name="description" content="The website's about us page.">
        <meta name="keywords" content="Discord,Discord Bot,Discord Bots,discordboats,DBC,Discord Bot List,discord boats,boats,discordboats.club,dboats,dbots,dbot,bots,list,directory,bot list">

    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
		<div class="main">
            <div class="container">
                <h3>About Us</h3>
                <p>Created By Daddy®™#0001, Looney#6693 & Spooder#1111</strong></p>
                <p>discordboats.club is a constantly growing directory for Discord
                    bots. discordboats.club is not affiliated with, endorsed by, supported by and/or sponsored by
                    Discord in any way, shape or form.</p>
			<!-- Add icon library -->

<iframe src="https://discordapp.com/widget?id=549092962621980682&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
	

  </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>