<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: 'API key' }) %>
    </head>
    <body>
        <div class="header">
            <h5 class="center-align"><a href="/">Click here to go back home.</a></h5>
        </div>
        <div class="main">
            <div class="container center-align">
                <h2>API</h2>
                <p>Documentation coming soon!</p>
                <hr />
                <p>Do not share your API key. Your API key is...</p>
                <code style="color: red;">Example API key here blahblahabalaalalallalaal233823931830632449</code>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/scripts") %>
    </footer>
</html>
