<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="bot-page">
                    <div class="top-info">
                        <div class="bot-avatar">
                            <img src="/boat.jpg" class="bot-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="blue lighten-3 page-footer">
        <%- include("parts/footer") %>
    </footer>
</html>