<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="bot-page">
                    <div class="bp-top-info">
                        <!-- <div class="bot-image-container">
                            <img src="/boat.jpg" class="bot-image">
                        </div> -->
                        <div class="bp-head-section">
                            <h4 class="bp-heading">Sky</h4>
                            <div class="chip red lighten-2" style="display: inline-block;">discord.js</div>
                            <div class="chip green lighten-2" style="display: inline-block;">online</div>
                            <div class="chip lime lighten-2" style="display: inline-block;">1337 servers</div>
                        </div>
                        <subtitle>Sky is a fun Discord bot featuring a chat-based points system &amp; soundboard.</subtitle>
                        <hr />
                        <div class="bp-action-button"><a href="#" class="waves-effect waves-light btn">Invite</a></div>
                        <div class="bp-action-button"><a href="#" class="waves-effect waves-light btn">Github</a></div>
                        <div class="bp-action-button"><a href="#" class="waves-effect waves-light btn">Website</a></div>
                        <div class="bp-action-button"><a href="#" class="waves-effect waves-light btn disabled">Twitter</a></div>
                        <hr />
                        <p>
                            Sky is a fun Discord bot <strong>featuring a chat-based points system &amp; soundboard</strong>. It is dedicated to spicing up your Discord server. Sky is not spread between music functionality, utility, moderation &amp; fun - it serves to deliver one purpose: enjoyment. Sky aims to deliver additional enjoyment to users on their Discord server, ranging from <strong>a responsive soundboard to a global currency</strong> that includes features such as <strong>a global leaderboard &amp; games to earn points.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="blue lighten-3 page-footer">
        <%- include("parts/footer") %>
    </footer>
</html>