<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: 'Certification' }) %>
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="center-align">
                    <h1>404</h1>
                    <p>Under Construction</p>
                    <p>This isn't ready yet! Check back later.</p>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>