<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <% if (rawBots.length == 0) { %>
                    <h4>There's no bots on this site at the moment. <a href="/dashboard/new">Create one?</a></h4>
                <% } else { %>
                    <div class="bot-cards">
                            <!-- Bot cards includes can go here -->
                        <%- botChunks.map(chunk => `<div class="row">${chunk.map(bot => include("../parts/botCard", {bot}))}</div>`) %>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
    </footer>
</html>