<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <header>
            <%- include("parts/header") %>
        </header>
        <main>
            Test
        </main>
        <footer>
            <%- include("parts/footer") %>
        </footer>
    </body>
</html>