<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="bot-cards">
                <!-- Bot cards includes can go here -->
            </div>
        </div>
    </body>
    <footer class="blue lighten-3 page-footer">
        <%- include("parts/footer") %>
    </footer>
</html>