<!DOCTYPE html>
<html>
    <head>
        <%- include("parts/head") %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
    </footer>
</html>