@import url("https://fonts.googleapis.com/css?family=Lato|M+PLUS+Rounded+1c");

$width: 196px;

.card {
    display: inline-block;
    width: $width;
    height: 256px;
    
    & > .details {
        height: 64px;
        width: $width;
        background-color: gray;
    }
    
    & > .image {
        height: $width;
        width: $width;
    }
    
    & > ul.horizontal-list li {
        display: inline;
    }
}