@import url("https://fonts.googleapis.com/css?family=Lato|M+PLUS+Rounded+1c");


.card {
    display: inline-block;
    width: 196px;
    height: 256px;
}

.card > .details {
    height: 64px;
    width: 196px;
    background-color: gray;
}