<div class="col s12 m3">
    <div class="card hoverable blue-grey darken-1">
        <div class="card-image bot-image-container">
            <img src="/boat.jpg" class="bot-image">
            <span class="card-title">Sky</span>
        </div>
        <div class="card-content white-text">
            <p style="padding-bottom: 5%;">Sky is a fun Discord bot featuring a chat-based points system & soundboard.</p>
            <div class="chip lime lighten-2" style="display: inline-block;">1337 servers</div>
        </div>
        <div class="card-action">
            <a href="#">Add</a>
            <a href="#">View</a>
        </div>
    </div>
</div>