<div class="col s12 m3">
    <div class="card blue-grey darken-1">
        <div class="card-image boat">
            <img src="/boat.jpg" class="boat-image">
            <span class="card-title"><%= bot.name %></span>
        </div>
        <div class="card-content white-text">
            <p><%= bot.shortDesc %></p>
        </div>
        <div class="card-action">
            <a href="#">Invite</a>
            <a href="#">View Page</a>
        </div>
    </div>
</div>