<nav>
    <div class="nav-wrapper">
        <span class="tt"><a href="/" class="brand-logo">discordboats.club</a></span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
<<<<<<< HEAD
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
=======
            <% if (typeof user === "object") { %>
                <li><a href="/dashboard"><%=user.discord.username%></a></li>
            <% } else { %>
                <li><a href="/discord/login">Login</a></li>
            <% } %>
>>>>>>> d33137f83258e39a3b848484b18ad084b834dabe
        </ul>
    </div>
</nav>