@import url('https://fonts.googleapis.com/css?family=Raleway:300');

$spacer:        1rem;
$no-margin:     0;
$border-radius: .25rem;
$box-spacer-y:  .75rem;
$box-spacer-x:  1.25rem;

article {
	float: right;
	width: 600px / 960px * 100%;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

aside {
	float: left;
	width: 300px / 960px * 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

