@mixin sidebar-base {
	top: 0;
	height: 100%;
	position: absolute;
}

article {
	float: right;
	width: 600px / 960px * 100%;
	right: 0;

	@include sidebar-base();
}

aside {
	float: left;
	width: 300px / 960px * 100%;
	left: 0;
	
	@include sidebar-base();
}

